@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

.gallery-container {
	top: 30px;
	max-width: 100%;
	position: relative;
	margin: auto;
}
.active {
	font-family: 'Jura', sans-serif;
	color: white;
	font-size: 21px;
	font-style: bold;
	border-bottom: 1px solid black;
}
.divs {
	position: absolute;
	left: 10%;
	width: 80%;
	height: 100%;
}
.img {
	display: inline-block;
	height: 100%;;
	width: 5%;
	background-color: #DCDEDC; 
	z-index: 4;
}
.slide {
	display: none;
}
.slide img, .column img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	max-height: 70vh;
}

.text {
	display: none;
	width: 80%;
}

.text {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 18px;
	padding-top: 15px;
}

.prev, .next {
	cursor: pointer;
	position: absolute;	
	top: 50%;
	font-size: 75px;
	color: black;
	width: 50px;
	text-align: center;
	z-index: 5;
}
.prev {
	margin-left: 5%;
}
.next {
	right: 0;
	margin-right: 5%;
}

.prev:hover, .next:hover, .prev_row:hover, .next_row:hover {
	background-color: rgba(49, 94, 35, 0.5);
	border-radius: 15px;
	color: white;
	transition: background-color 0.5s ease-out, color 0.5s ease;
}
.row {
  height: 130px;
  width: 100%;
  position: relative;
  margin-top: 50px;
  padding: 0;
  text-align: center;
}
.column {
  display: none;
  padding: 0;
  max-width: 32%;
  vertical-align: middle;
}
.column img {
	display: block;
	padding: 0;
	height: 100px;
	max-width: 100%;
	opacity: 0.6;
}
.column:hover > img{
  opacity: 1;
  height: 120px;
  cursor: pointer;
}
.prev_row, .next_row {
	cursor: pointer;
	position: absolute;	
	top: 20%;
	font-size: 45px;
	color: black;
	width: 50px;
	text-align: center;
	z-index: 5;
	vertical-align: middle;
}
.next_row {
	right: 23%;
}
.prev_row {
	left: 23%;
}

.footer {
	width: 100%;
	max-height: 100px;
	background-color: #315E23;
	opacity: 0.8;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: 'Jura', sans-serif;
	font-size: 20px;
	top: 50px;
	position: relative;
}


/*.move {
  -webkit-animation-name: move;
  -webkit-animation-duration: 1.5s;
  animation-name: move;
  animation-duration: 1.5s;
}

@-webkit-keyframes move {
  from {opacity: 0.5}
  to {opacity: 1}
}

@keyframes move {
  from {opacity: 0.5}
  to {opacity: 1}
}*/

@media screen and (max-width: 640px) {
	.prev, .next {
		font-size: 60px;
		width: 35px;
		margin: 0;
	}
	.slide {
		min-height: 70vh;
	}
	.next_row {
		right: 0;
	}
	.prev_row {
		left: 0;
	}
}